vagrant-workbench/repos/code
vagrant-workbench/repos/states
vagrant-workbench/repos/pillar
vagrant-workbench/repos/private
vagrant-workbench/repos/runner
vagrant-workbench/repos/formulas
vagrant-workbench/.ssh
vagrant-workbench/init.sh
vagrant-workbench/.ip
vagrant-workbench/.grains
vagrant-minions/.grains
vagrant-minions/minions.yml
vagrant-minions/shared
vagrant-minions/sourceme.fish
vagrant-minions/sourceme.sh
.vagrant
