vagrant-workbench/workbench-repos/code
vagrant-workbench/workbench-repos/states
vagrant-workbench/workbench-repos/pillar
vagrant-workbench/workbench-repos/private
vagrant-workbench/workbench-repos/runner
vagrant-workbench/workbench-repos/formulas
vagrant-workbench/.ssh
vagrant-workbench/init.sh
vagrant-workbench/.ip
vagrant-workbench/.grains
vagrant-minions/.grains
vagrant-minions/minions.yml
vagrant-minions/shared
.vagrant
