set -gx OS_AUTH_URL "https://keystone.dream.io/v2.0"
set -gx OS_TENANT_ID "00000000000000000000000000000000"
set -gx OS_TENANT_NAME "dhc1111111"
set -gx OS_USERNAME "foo"
set -gx OS_PASSWORD "bar"
set -gx VAGRANT_OS_FLAVOR "supersonic"
set -gx VAGRANT_OS_DEFAULT_USERNAME "dhc-user"
set -gx VAGRANT_OS_KEYNAME "mykeyname"
set -gx VAGRANT_OS_IMAGE "Ubuntu-14.04-Trusty"
set -gx VAGRANT_OS_PRIVATE_KEY "~/.ssh/id_rsa"
